<launch>
  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="$(find sterling_patern_costmaps)/config/map.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="namespace" default="" doc="Optional namespace for multi-robot setups"/>
  <arg name="use_rviz" default="true" doc="Whether to start RViz."/>
  <arg name="rviz_config_file" default="$(find sterling_patern_costmaps)/config/config.rviz" doc="Full path to the RVIZ config file to use"/>

  <!-- Add missing default values -->
  <arg name="scan_topic" default="scan" />
  <arg name="initial_pose_x" default="0.0" />
  <arg name="initial_pose_y" default="0.0" />
  <arg name="initial_pose_a" default="0.0" />

  <group if="$(eval namespace != '')" ns="$(arg namespace)">
    <!-- Turtlebot3 -->
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
      <arg name="model" value="$(arg model)" />
    </include>

    <!-- Map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

    <!-- AMCL -->
    <include file="$(find sterling_patern_costmaps)/launch/amcl.launch">
      <arg name="scan_topic" value="$(arg scan_topic)" />
      <arg name="initial_pose_x" value="$(arg initial_pose_x)" />
      <arg name="initial_pose_y" value="$(arg initial_pose_y)" />
      <arg name="initial_pose_a" value="$(arg initial_pose_a)" />
      <arg name="namespace" value="$(arg namespace)" />
    </include>

    <!-- move_base -->
    <include file="$(find sterling_patern_costmaps)/launch/move_base.launch">
      <arg name="model" value="$(arg model)" />
      <arg name="move_forward_only" value="$(arg move_forward_only)"/>
      <arg name="namespace" value="$(arg namespace)" />
    </include>

    <!-- rviz -->
    <group if="$(arg open_rviz)"> 
        <node if="$(arg use_rviz)" name="rviz_mapping" pkg="rviz" type="rviz" output="screen" args="-d $(arg rviz_config_file)"/>
    </group>
  </group>

  <group unless="$(eval namespace != '')">
    <!-- Turtlebot3 -->
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
      <arg name="model" value="$(arg model)" />
    </include>

    <!-- Map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

    <!-- AMCL -->
    <include file="$(find sterling_patern_costmaps)/launch/amcl.launch">
      <arg name="scan_topic" value="$(arg scan_topic)" />
      <arg name="initial_pose_x" value="$(arg initial_pose_x)" />
      <arg name="initial_pose_y" value="$(arg initial_pose_y)" />
      <arg name="initial_pose_a" value="$(arg initial_pose_a)" />
      <arg name="namespace" value="$(arg namespace)" />
    </include>

    <!-- move_base -->
    <include file="$(find sterling_patern_costmaps)/launch/move_base.launch">
      <arg name="model" value="$(arg model)" />
      <arg name="move_forward_only" value="$(arg move_forward_only)"/>
      <arg name="namespace" value="$(arg namespace)" />
    </include>

    <!-- rviz -->
    <group if="$(arg open_rviz)"> 
        <node if="$(arg use_rviz)" name="rviz_mapping" pkg="rviz" type="rviz" output="screen" args="-d $(arg rviz_config_file)"/>
    </group>
  </group>

</launch>
